.page {
   width: 100%;
   height: 100vh;
   align-items: center;
   justify-content: center;
}

.navbar {
   position: fixed;
   z-index: 10000;
   top: 30px;
   gap: 60px;
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 10px;
}

.textnav {
   font-weight: 700;
}

.pagebox {
   display: flex;
   width: 100%;
   height: 100vh;
   align-items: center;
   justify-content: space-around;
}

.text {
   position: absolute;
   top: 40px;
   left: 40px;
}

.accountinfo {
   width: 350px;
   height: auto;
   flex-direction: column;
   border-radius: 15px;
   align-items: center;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.backbtn {
   position: absolute;
   bottom: 40px;
   left: 40px;
}

.linksbox {
   flex-direction: column;
   padding: 40px;
   border-radius: 15px;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.iconlinks {
   justify-content: space-between;
   padding: 10px;
   border-width: 2px;
   border-color: transparent;
   border-radius: 15px;
}

.iconbox {
   border-radius: 15px;
   margin-left: 20px;
   margin-right: 20px;
   padding: 10px;
}
