.box {
   height: 100%;

   width: 100%;
}

.container {
   flex-direction: column;
   margin: 40px;
   width: 100%;
}

.background {
   width: 1000px;
   height: 100vh;
}

.image {
   position: fixed;
   height: auto;
   width: auto;
}

.form {
   flex-direction: column;
   margin-top: 150px;
   align-self: center;
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 40px;
   padding-right: 40px;
   border-radius: 15px;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.title {
   display: flex;
   flex-direction: column;
   margin-bottom: 50px;
}

.avatarbox {
   gap: 20px;
}

.upload {
   flex-direction: column;
   width: fit-content;
}

.text {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 13px;
   opacity: 0.5;
   align-self: center;
}

.deleteicon {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   opacity: 0.5;
   align-self: center;
}

.create {
   margin-top: 50px;
}

.link {
   margin-top: 20px;
   align-self: center;
   font-size: 14px;
}

.modaltitle {
   font-weight: 900;
   font-size: 25px;
   margin-bottom: 10px;
}

.wallet {
   display: flex;
   padding: 30px;
   align-items: center;
   height: 50px;
   width: 100%;
   border-radius: 15px;
   font-weight: 700;
   font-size: 20px;
   gap: 25px;
}

.walleticon {
   display: block;
   height: 40px;
   width: 40px;
}

.backarrow {
   width: 30px;
}

.accountbtn {
   padding: 6px;
   padding-left: 12px;
   padding-right: 12px;
   gap: 10px;
   justify-content: space-around;
   align-items: center;
   border-radius: 15px;
}

.accountinfo {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 15px;
}

.addressaccount {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
   border-radius: 15px;
   padding: 20px;
}

.copybtn {
}

.linkstitle {
   font-size: 32px;
   font-weight: 900;
}

.subtitlelinks {
   opacity: 0.5;
   font-size: 17px;
   font-weight: 600;
}

.linksimage {
   width: 300px;
   height: 300px;
}

.supportedlinks {
   opacity: 0.5;
   font-size: 20px;
   font-weight: 900;
}

.linksform {
   margin: auto;
   flex-direction: column;
   gap: 20px;
   margin-bottom: 20px;
}

.linkicon {
   border-radius: 15px;
}

.websitelink {
   margin-top: 14px;
}

.newweblinks {
   gap: 5px;
   justify-content: end;
}

.iconslink {
   margin-top: 20px;
   width: 50px;
}
